*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

button {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;

}

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aqua;
}