*, *::before, *::after { box-sizing: border-box; }

html,body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

button{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

