.label {
    display: flex;
    background-color: #f7dcba;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 400px;
    border-radius: 38px;
    box-shadow: 0 4px 20px rgba(26, 25, 25, 0.6);
    border: none;
}

.input-field {
    text-align: center;
    font-size: 180%;
    font-weight: 600;
    font-family: "Source Code Pro", monospace;
    background-color: burlywood;
    color: #377b78;

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);

    height: 20px;
    width: 180px;
    padding: 20px 10px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.label>h1 {
    height: 60px;
    background-color: #c68e58;
    min-width: fit-content;
    width: 200px;
    border-radius: 30px 0px 0px 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #87d9de;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);


}

button.label>h1 {
    border-radius: 20px;
    padding: 0px 5px;
    width: 97%;
    background-color: inherit;
}

button.label {
    background-color: #2a7a78;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(50, 205, 190, 0.6);
    /* teal glow */
    transition: all 0.25s ease;
}

/* Hover effect */
button.label:hover {
    background-color: #329d9c;
    /* lighter teal on hover */
    transform: translateY(-2px);
    /* slight lift */
    box-shadow: 0 4px 25px rgba(50, 205, 190, 0.8);

    /* stronger teal glow */
}

.label:hover {
    background-color: #c68e58;
    box-shadow: 0 4px 20px rgba(26, 25, 25, 0.6);
    transition: all 0.25s ease;
    transform: translateY(-2px);


}

.label:active {
    transform: translateY(0);
    box-shadow: 0 4px 20px rgba(26, 25, 25, 0.6);

}

/* Active (on click) */
button.label:active {
    transform: translateY(0);
    /* press down */
    box-shadow: 0 4px 20px rgba(50, 205, 190, 0.6);
    /* compressed glow */
}