#Logo {

}

#Logo-container > button > img {
    height: 50px;
    width: auto;    
}


#Logo-button{
    background-color: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    height: 30px;
    border: none;
}