#SignInBox{
    display: flex;
    background-color: black;
    height: calc(100vh - 120px);
    padding: 50px;
    align-items: center;
    justify-content: center;
}

#signin-form{
    background-color: #f7dcba;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px rgba(146, 144, 143, 0.4);

    justify-content: center;
}
