#username-label {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

#username-textbox {
    text-align: center;
    font-size: 180%;
    font-weight: 600;
    font-family: "Source Code Pro", monospace;
    background-color: black;
    color: cyan;
    height: 20px;
    width: 200px;
    padding: 20px 10px;
}

#username-label>h1 {
    color: black;

}